body {
  margin: 0;
  background: #0b0f1a;
  color: #e5e7eb;
  font-family: monospace;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgba(0,0,0,0.5);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #00fff0;
  width: 320px;
  box-shadow: 0 0 20px #00fff033;
}

.title {
  text-align: center;
  color: #00fff0;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #0b0f1a;
  border: 1px solid #444;
  color: white;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: #00fff0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.timer {
  color: #ff004c;
  text-align: center;
  margin-bottom: 10px;
}

.terminal {
  background: black;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 10px;
  min-height: 60px;
}

.shake {
  animation: shake 0.2s infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px); }
  50% { transform: translate(-1px, -1px); }
  100% { transform: translate(1px, -1px); }
}